<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
	{{#link-to "portal" tagName="li"}}<a class="navbar-brand" href="portal">HOME</a>{{/link-to}}
</div>
<div>
<ul class="nav navbar-nav">
	{{!--#link-to "posts" tagName="li"}}<a href="/posts">Posts</a>{{/link-to--}}
</ul>
</div>
</div>
</nav>