
<div class="container">
    <div id="canvas">
        <div class="row">
            <div id="invoiceEle" class="col-xs-6">
                <h1>Hello {{authController.user.name}} </h1>
                <h2>Comcast</h2>
                <h3>Contact us: www.comcast.com 1-866-594-1234</h3>
            </div>
            <div id="invoiceEle" class="col-xs-6">
                <h1>Account Number:     XXXX-X-XXX</h1>
                <h2>Billing Date:       03/22/2016</h2>
                <h3>Total Amount Due:   $131.67</h3>
            </div>
        </div>

        <br><br>
        <div class="row">
            <div id="invoiceEle" class="col-xs-12">
                <h1>News from Comcast</h1>
                <p>Thank you for choosing Comcast.</p>
                <br>
                <p>If you have not enrolled in our EcoBill program, your $5.00 discount for EcoBill billing discount will end 30 days from the start of your promotion. If you would like to sign up for EcoBill, please visit www.comcast.com/ecobill.</p>
                <br>
                <p>If you have an American Express Card, use it to enroll in AutoPay. You can also enroll in Comcast's Ecobill process today and say goodbye to checks, stamps, envelopes, and even your paper bill. Learn how at www.comcast.com/{{authController.user.name}}</p>
                <br>
                <p>Moving? Call 1-855-MOV-EDGE or visit comcast.com/moversedge</p>
            </div>
        </div>

        <br><br>
        <div class="row">
            <div id="invoiceEle" class="col-xs-12">
                <h1>Previous Payment Statement</h1>
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Basic Digital Services</h2>
                    </div>
                    <div class="col-xs-6">
                        <h2>Price</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Digital Economy</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3>$34.95</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Digital Starter</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3>$68.99</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Digital Preferred</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3>$86.99</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Digital Preferred Plus</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3>$120.99</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Digital Premier</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3>$140.99</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button {{action 'downloadPDF'}}>PDF</button>
